<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentBrandOutfit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RentBrandOutfit.styles.css" asp-append-version="true" />

    <!---  Google fonts  Ira, 11.10.23------>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nobile">


</head>
<body>
    <header>
        <!--next line, changed bg-white to .ForNav style - Ira, 11.10.23  -->
        <nav class="ForNav navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/Logo.png" alt="logo" height="70">  <!--This line is added instead of BrandRentOutfit, Ira-->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       
                        <li class="nav-item">
                            <!--Cnahed the next line to Product Ira, 12/10/2023-->
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                        </li>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Manager")) // <!-- Ira, 4/11/23 - The items are hidden for not admin or manager-->
                        {
                            <li class="nav-item">
                                <!--Cnahed the next line to RentedProduct Ira, 30/10/2023-->
                                <a class="nav-link text-dark" asp-area="" asp-controller="RentedProduct" asp-action="Index">Rented products</a>
                            </li>
                            <li class="nav-item">
                            <!--Cnahed the next line to Client Ira, 12/10/2023-->
                            <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Index">Clients</a>
                        </li>
                        }
                    </ul>
                    <partial name="_loginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RentBrandOutfit, Student Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
